p#pogrubienie_blaszkowski {
  font-size: 36px;
  color: #7F5DD0;
}
p#pochylona_blaszkowski {
  font-size: 41pt;
  color: #E3C16C;
}
p#index_gorny_blaszkowski{
  font-size: 1.6cm;
  color: #938F1C;
}
p#index_dolny_blaszkowski {
  font-size: 2.7cm;
  color: rgb(47%,243%,228%);
}
p#mono_blaszkowski {
  font-size: 46px;
  color: #13E96C;
}
p#powiekszenie_blaszkowski {
  color: #4D3F9E;
}
p#pomniejszenie_blaszkowski {
  color: rgb(177%,163%,58%);	
