p {
    color: red;
    font-size: 22pt;
}
p#gruby_Hirsz { 
    color: green;
    font-size: 17pt;
    font-weight: 900;
}
#dlawszystkich_Hirsz {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
  
